$mainColour:#15023a;

$mobilewidth: 768px;
$tabletwidth: 1050px;

@mixin mobile {
    @media (max-width: #{$mobilewidth}) {
        @content
    }
};

@mixin tablet {
    @media (max-width: #{$tabletwidth}) {
        @content
    }
};